<title>公司管理</title>



<div class="layui-card">
	<div class="layui-card-header">
		公司管理
	</div>
	<div class="layui-card-body">
		<div class="layui-fluid">
			<div class="layui-row layui-col-space15">
				<!-- 左树 -->
				<div class="layui-col-sm12 layui-col-md4 layui-col-lg3">
					<div class="layui-card">
						<div class="layui-card-body" style="min-height: 600px;">
							<div class="layui-form toolbar">
								<div class="layui-form-item">
									<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
										<legend>组织信息管理</legend>
									</fieldset>
									<div class="layui-card-body mini-bar">
										<ul id="treeTbTree" class="dtree" data-id="0" style="width: 100%;"></ul>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 右表 -->
				<div class="layui-col-sm12 layui-col-md8 layui-col-lg9">
					<div class="layui-card">
						<div class="layui-card-body" style="min-height: 600px;">
							<div class="layui-form toolbar">
								<div class="layui-form-item">
									<fieldset class="layui-elem-field layui-field-title" style="margin-top:20px;">
										<legend>组织信息管理</legend>
									</fieldset>
									<table class="layui-table" id="tableTbTree" lay-filter="tableTbTree"></table>
									<script type="text/html" id="toolbar">
											<div class="layui-btn-container">
												<button class="layui-btn icon-btn" lay-event="add">
													<i class="layui-icon">&#xe654;</i>新增
												</button>
											</div>
										</script>
								</div>
							</div>
						</div>

					</div>

					<!-- 表格操作列 -->
					<script type="text/html" id="tableBarTbTree">
						<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
						<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
					</script>
				</div>
			</div>
		</div>
		<!-- 表格操作列 -->
		<script type="text/html" id="tableBarTbTree">
		<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
		<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
	</script>

		<script>
			layui.use(['dtree', 'layer', 'form', 'table', 'jquery'], function () {
				var $ = layui.jquery;
				var layer = layui.layer;
				var form = layui.form;
				var table = layui.table;
				var dtree = layui.dtree;

				// 树形渲染
				dtree.render({
					elem: '#treeTbTree',
					//url: '../js/json/usermanage/tree.json',
					url: 'http://voip.winsource.cn:8666/org.ashx?fun=orgtree',
					method: 'GET',

					dataStyle: "layuiStyle", //使用layui风格的数据格式
					dataFormat: "list", //配置data的风格为list
					response: {
						message: "msg",
						statusCode: 0
					}
				});

				// 树形点击事件
				dtree.on('node("treeTbTree")', function (obj) {
					var data = obj.param;
					//执行重载
					table.reload('tableTbTree', {
						page: {
							curr: 1 //重新从第 1 页开始
						},
						where: {
							key: {

								username: data.nodeId
							}
						}
					}, 'data');
				});

				//表格处理
				table.render({
					elem: '#tableTbTree',
					//url: '../js/json/usermanage/org.json',
					url: 'http://voip.winsource.cn:8666/org.ashx?fun=orgtree',
					//page: true,
					cellMinWidth: 100,
					toolbar: '#toolbar',
					cols: [
						[{
							type: 'checkbox'
						},
						{
							field: 'id',
							align: 'center',
							title: '部门编码'
						},
						{
							field: 'title',
							align: 'center',
							title: '部门名称'
						},
						{
							field: 'SuperiorDepartmentName',
							align: 'center',
							title: '上级部门'
						},
						{
							field: 'CreateTime',
							align: 'center',
							title: '添加时间'
						},
						{
							align: 'center',
							toolbar: '#tableBarTbTree',
							title: '操作',
							minWidth: 120
						}
						]
					]
				});

				//头工具栏事件
				table.on('toolbar(tableTbTree)', function (obj) {
					var checkStatus = table.checkStatus(obj.config.id);
					switch (obj.event) {
						case 'add':
							layer.open({
								type: 2,
								content: '/src/views/manage/dialog/addorg.html',
								area: ['500px', '500px'],
								end: function () { //关闭按钮的回调函数 
									table.reload('tableTbTree', {
										page: {
											curr: 1 //重新从第 1 页开始
										}
									});
									dtree.render({
										elem: '#treeTbTree',
										//url: '../js/json/usermanage/tree.json',
										url: 'http://voip.winsource.cn:8666/org.ashx?fun=orgtree',
										method: 'GET',

										dataStyle: "layuiStyle", //使用layui风格的数据格式
										dataFormat: "list", //配置data的风格为list
										response: {
											message: "msg",
											statusCode: 0
										} //修改response中返回数据的定
									});

								}
							});
							break;

					};
				});

				//监听行工具事件
				table.on('tool(tableTbTree)', function (obj) {
					var data = obj.data;
					//console.log(obj)
					if (obj.event === 'del') {
						layer.confirm('真的删除行么', function (index) {

							$.ajax({
								type: 'POST',
								url: 'http://192.168.58.99/org.ashx?fun=delDepartment',

								data: {
									"departmentId": data.id,
								},
								success: function (data) {
									layer.close(index);
									table.reload('tableTbTree', {
										page: {
											curr: 1 //重新从第 1 页开始
										}
									});

									dtree.render({
										elem: '#treeTbTree',
										//url: '../js/json/usermanage/tree.json',
										url: '../org.ashx?fun=orgtree',
										method: 'GET',

										dataStyle: "layuiStyle", //使用layui风格的数据格式
										dataFormat: "list", //配置data的风格为list
										response: {
											message: "msg",
											statusCode: 0
										}
									});
								},
								error: function (err) {
									//layer.msg("err");
									//alert(err.status);
								}
							});
						});

					} else if (obj.event === 'edit') {
						layer.prompt({
							formType: 2,
							value: data.email
						}, function (value, index) {
							obj.update({
								email: value
							});
							layer.close(index);
						});
					}
				});
			});
		</script>