<title>坐席管理</title>
<!-- <div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a><cite>点击外呼</cite></a>
    </div>
</div> -->

<div class="layui-fluid">

    <div class="layui-card">
        <div class="layui-card-header">
            坐席管理
        </div>
        <div class="layui-card-body">
            <div style="padding:10px;">
                <div class="layui-form" style="margin-bottom: 10px;">
                    <div class="layui-input-inline">
                        <input type="text" id="search_key" class="layui-input" placeholder="标题关键字" />
                    </div>
                    <div class="layui-input-inline">
                        <button class="layui-btn layui-btn-normal" type="button" onclick="search()"><i
                                class="layui-icon">&#xe615;</i> 查询</button>
                    </div>

                </div>
                <table class="layui-hide" id="test2" lay-filter="test2"></table>

                <script type="text/html" id="barDemo">
                    <a class="layui-btn layui-btn-xs" lay-event="edit">设置坐席</a>
                    <a class="layui-btn layui-btn-xs" lay-event="group">坐席分组</a>
                </script>
            </div>
        </div>
    </div>
</div>

<script>
    var tableIns;
    var pop_index;
    /*日期选择控件设置*/
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        laydate.render({
            elem: '#search_start' //指定元素
        });
        laydate.render({
            elem: '#search_end' //指定元素
        });
    });

    var pagesize = 10; //页大小

    layui.use(['table', 'jquery'], function () {
        var table = layui.table, $ = layui.jquery;

        tableIns = table.render({
            elem: '#test2',
            loading: true,
            size: 'sm',
            height: "full",
            url: 'http://voip.winsource.cn:8666/pbx/user/user.ashx?fun=seatlist',
            where: getcond(),
            page: true,
            limit: pagesize,
            cols: [
                [{
                    title: '操作',
                    toolbar: '#barDemo',
                    width: 180
                }, {
                    field: 'ID',
                    title: 'ID',
                    hide: true
                }, {
                    field: 'DepartmentID',
                    title: '部门ID',
                    hide: true
                }, {
                    field: 'DepartmentName',
                    title: '所属部门'
                }, {
                    field: 'SeatUserName',
                    title: '姓名'
                }, {
                    field: 'SeatName',
                    title: '坐席用户'
                }, {
                    field: 'SeatPassword',
                    title: '坐席密码'
                }, {
                    field: 'SeatPower',
                    title: '坐席权限'
                }, {
                    field: 'ExtensionNumber',
                    title: '分机号码'
                }, {
                    field: 'GroupName',
                    title: '分组'
                }, {
                    field: 'GroupLeaderType',
                    title: '职位'
                }, {
                    field: 'DateTimes',
                    title: '注册日期'
                }

                ]
            ]

        });

        //监听行工具事件
        table.on('tool(test2)', function (obj) {
            var data = obj.data;
            console.log(obj)
            if (obj.event === 'group') {
                json = JSON.stringify(data);
                //layer.msg(json);
                layer.open({
                    title: '坐席分组',
                    closeBtn: 1,
                    type: 2,
                    shade: 0,
                    maxmin: true,
                    area: ['500px', '530px'],
                    //content:'edit.html'
                    content: ['/src/views/manage/dialog/seatGroupEdit.html', 'no'], //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['url', 'no']
                    success: function (layero, index) {

                    }
                });
            } else if (obj.event === 'edit') {
                json = JSON.stringify(data);
                //layer.msg(json);
                layer.open({
                    title: '修改坐席人员姓名密码',
                    closeBtn: 1,
                    type: 2,
                    shade: 0,
                    maxmin: true,
                    area: ['500px', '530px'],
                    //content:'edit.html'
                    content: ['/src/views/manage/dialog/seatedit.html', 'no'], //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['url', 'no']
                    success: function (layero, index) {

                    }
                });

            }
        });
    });

    /*拼接条件返回postdata*/
    function getcond() {

        var key = document.getElementById("search_key").value;
        //          var start = document.getElementById('search_start').value;
        //          var end = document.getElementById('search_end').value;
        //          var cabh = document.getElementById('search_cabh').value;
        var postdata = {
            key: key,
            //              start: start,
            //              end: end,
            //              cabh: cabh
        };
        return postdata;
    }

    /*查询*/
    function search() {

        tableIns.reload({
            where: getcond(),
            page: {
                curr: 1 //重新从第 1 页开始
            }
        });

    }


    /*删除*/
    function del(id) {
        layui.use('layer', function () {
            var layer = layui.layer;
            var $ = layui.jquery;

            layer.confirm('是否确认删除？', function () {

                var url = "http://voip.winsource.cn:8666/pbx/user/user.ashx?fun=del&ids=" + id;
                pop_index = layer.load(0, {
                    shade: [0.3, '#000'] //0.1透明度的白色背景
                });
                $.post(url, function (data) {
                    layer.close(pop_index);
                    if (data == "ok") {
                        layer.msg("删除成功", function () {
                            location.reload();
                        });
                    } else {
                        layer.msg("删除失败", function () {
                            location.reload();
                        });
                    }
                })

            })

        })

    }
</script>