<title>通话记录</title>
<style>
    .layui-form-label {
        width: 100px;
        padding: 9px 0;
    }
</style>

<div class="layui-card">
    <div class="layui-card-header">
        通话报表
    </div>
    <div class="layui-card-body">
        <div class="layui-form" style="text-align: right;">
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">时间范围选取：</label>
                <div class="layui-input-block">
                    <input type="text" autocomplete="off" class="layui-input" id="range" placeholder="时间范围选取">
                </div>
            </div>
        </div>
        <table id="CALLTable" lay-filter="CALLTable">
        </table>
    </div>
</div>



<script>
    $(document).on("click", ".laydate-btns-clear", function () {
        console.log(111);
    })
    layui.use(["table", "form", "laydate"], function () {
        var table = layui.table;
        var form = layui.form;
        var laydate = layui.laydate

        form.render()

        laydate.render({
            elem: '#range',
            range: true,
            done: function (value, date) {
                if (value !== "") {
                    var val = value.split(" - ")
                    CALLTable.reload({
                        where: {
                            DepartmentID: sessionStorage.getItem('DepartmentID'),
                            StartDate: val[0],
                            EndDate: val[1]
                        },
                        page: {
                            curr: 1
                        }
                    })
                } else {
                    CALLTable.reload({
                        where: {
                            DepartmentID: sessionStorage.getItem('DepartmentID'),
                            StartDate: "",
                            EndDate: ""
                        },
                        page: {
                            curr: 1
                        }
                    })
                }
            }
        });


        var CALLTable = table.render({
            elem: '#CALLTable',
            isclear: true,
            height: "full",
            url: 'http://voip.winsource.cn:9090/app/monitor/monitor.ashx?fun=CallBillsecList', //数据接口
            where: {
                DepartmentID: sessionStorage.getItem('DepartmentID'),
                StartDate: "",
                EndDate: ""
            },
            page: true,//开启分页
            cols: [[ //表头  呼叫次数  
                { field: 'ExtensionNumber', title: '坐席号码' },
                { field: 'SeatUserName', title: '坐席名称' },
                // { field: 'num', title: '拨打次数', sort: true },
                { field: 'billsec', title: '接通时长(秒)', sort: true }
            ]]
        })
    });
</script>